                                            /* Typography   */

                                            @font-face {
                                                font-family: "bodyFont";
                                                src: url("https://assets.codepen.io/6554302/AlumniSans-Light.ttf");
                                            }

                                            @font-face {
                                                font-family: "headerFont";
                                                src: url("https://assets.codepen.io/6554302/Sora-Medium.ttf");
                                            }

                                            #resume-alt-view-options {
                                                display: inline-flex;
                                                justify-content: space-between;
                                            }

                                            body {
                                                font-family: bodyFont;
                                            }

                                            h1,
                                            h2,
                                            h3,
                                            h4,
                                            h5,
                                            h6 {
                                                font-family: headerFont;
                                            }

                                            .detail-button {
                                                color: #fff !important;
                                                font-family: bodyFont;
                                                text-transform: uppercase;
                                                text-decoration: none;
                                                background: #152208;
                                                padding: 12.5px;
                                                margin-top: -5px;
                                                border-radius: 5px;
                                                display: inline-block;
                                                border: none;
                                                transition: all 0.4s ease 0s;
                                            }

                                            .detail-button:hover {
                                                background: #c0c0c0;
                                                letter-spacing: 1px;
                                                -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                                                -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                                                box-shadow: 5px 40px 10px rgba(0, 0, 0, 0.57);
                                                transition: all 0.4s ease 0s;
                                            }

                                            .download-button {
                                                margin-left: 50px;
                                                color: #fff !important;
                                                font-family: bodyFont;
                                                text-transform: uppercase;
                                                text-decoration: none !important;
                                                background: rgb(192, 192, 192);
                                                padding: 12.5px;
                                                margin-top: -5px;
                                                display: inline-block;
                                                border: none;
                                                transition: all 0.4s ease 0s;
                                            }

                                            .download-button:hover {
                                                background: rgb(71, 83, 77);
                                                letter-spacing: 1px;
                                                -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                                                -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                                                box-shadow: 5px 40px 10px rgba(0, 0, 0, 0.57);
                                                transition: all 0.4s ease 0s;
                                            }

                                            .hey-text {
                                                float: right;
                                                margin-left: 12px;
                                                font-size: 16px;
                                                /*text-align: right;*/
                                            }

                                            .headshot {
                                                flex-basis: 40%;
                                            }

                                            .headshot_text {
                                                display: flex;
                                                margin: auto;
                                                align-items: center;
                                                justify-content: center;
                                            }

                                            p {
                                                font-family: "bodyFont", sans-serif;
                                                font-size: 16px;
                                                margin: 0;
                                                padding: 0;
                                            }

                                            span.stylish {
                                                color: #142820;
                                                -webkit-text-stroke-width: .2px;
                                                -webkit-text-stroke-color: #c0c0c0;
                                            }

                                            #tagline {
                                                text-align: center;
                                                margin: 0px;
                                                padding: 0px;
                                            }

                                            .hey_text {
                                                font-size: 20px;
                                                padding-left: 20px;
                                            }

                                            .headshot {
                                                flex-grow: 0;
                                                flex-shrink: 0;
                                                float: left !important;
                                            }

                                            h2 {
                                                color: #c0c0c0;
                                                font-weight: 700;
                                                font-size: 50px;
                                                font-family: "headerFont", sans-serif;
                                                text-transform: lowercase;
                                            }

                                            h2:after {
                                                content: "";
                                                width: 50px;
                                                height: 3px;
                                                background: #c0c0c0;
                                                display: block;
                                                margin: 15px auto;
                                                transition: all 0.2s ease-in-out;
                                                -webkit-transition: all 0.2s ease-in-out;
                                                -moz-transition: all 0.2s ease-in-out;
                                                -o-transition: all 0.2s ease-in-out;
                                                transition: all 0.2s ease-in-out;
                                            }

                                            h2:hover:after {
                                                width: 100px;
                                            }

                                            h3,
                                            h4,
                                            h5 {
                                                font-family: "headerFont", sans-serif;
                                            }

                                            /* SCROLL TO TOP AR''ROW'' */

                                            #return-to-top {
                                                position: fixed;
                                                bottom: 20px;
                                                right: 20px;
                                                background: rgba(20, 40, 32, 0.8);
                                                width: 50px;
                                                height: 50px;
                                                display: block;
                                                text-decoration: none;
                                                -webkit-border-radius: 35px;
                                                -moz-border-radius: 35px;
                                                border-radius: 35px;
                                                display: none;
                                                -webkit-transition: all 0.3s linear;
                                                -moz-transition: all 0.3s ease;
                                                -ms-transition: all 0.3s ease;
                                                -o-transition: all 0.3s ease;
                                                transition: all 0.3s ease;
                                                z-index: 999;
                                            }

                                            #return-to-top:hover {
                                                background: rgba(21, 163, 106, 1);
                                            }

                                            #return-to-top:hover span {
                                                color: #fff;
                                                top: 5px;
                                            }

                                            /* END SCROLL TO TOP AR''ROW'
*/
                                            /* START PRELOADER */

                                            #preloader {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                background-color: #36454f;
                                                z-index: 99;
                                                height: 100%;
                                            }

                                            #status {
                                                width: 200px;
                                                height: 200px;
                                                position: absolute;
                                                left: 50%;
                                                top: 50%;
                                                background-image: url(https://assets.codepen.io/6554302/ad27atzy1zxz-unscreen.gif);
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                margin: -100px 0 0 -100px;
                                            }
                                            #coming-soon{
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                justify-content: center;
                                                                                        }
                                                                                                                                }
                                            /* END PRELOADER */
                                            /* start header */

                                            .navbar-fixed-top {
                                                background-color: #152208;
                                            }

                                            .navbar-brand {
                                                padding: 0px 15px;
                                                height: 56px;
                                                margin-left: 0;
                                            }

                                            .navbar {
                                                margin-bottom: 0px;
                                                border: none;
                                            }

                                            .navbar-inverse .navbar-toggle:focus,
                                            .navbar-inverse .navbar-toggle:hover {
                                                background-color: #c0c0c0;
                                            }

                                            .navbar-inverse .navbar-toggle {
                                                border: none;
                                            }

                                            .navbar-inverse .navbar-collapse,
                                            .navbar-inverse .navbar-form {
                                                border: none;
                                            }

                                            .navbar-toggle .icon-bar {
                                                width: 35px;
                                                height: 5px;
                                            }

                                            .navbar-brand img {
                                                max-width: 10rem;
                                                height: auto;
                                                box-sizing: border-box;
                                                position: fixed;
                                                left: -20px;
                                                top: -55px;
                                            }

                                            #ResponsiveNav li a {
                                                font-size: 16px;
                                                color: #fff;
                                                font-weight: 700;
                                                display: inline-block;
                                                position: relative;
                                                text-decoration: none;
                                                overflow: hidden;
                                                -webkit-transition: all 0.4s ease-in-out;
                                                transition: all 0.4s ease-in-out;
                                                font-family: "Roboto", sans-serif;
                                                text-transform: lowercase;
                                            }

                                            #ResponsiveNav li a:after {
                                                content: "";
                                                position: absolute;
                                                bottom: 0;
                                                left: 50%;
                                                width: 0;
                                                -webkit-transform: translateX(-50%);
                                                transform: translateX(-50%);
                                                height: 3px;
                                                background: #c0c0c0;
                                                -webkit-transition: 0.35s;
                                                transition: 0.35s;
                                            }

                                            #ResponsiveNav li a:hover {
                                                color: #c0c0c0;
                                            }

                                            #ResponsiveNav ul li a:hover:after,
                                            #ResponsiveNav ul li a:focus:after,
                                            #ResponsiveNav ul li a:active:after {
                                                width: 70%;
                                            }

                                            button.navbar-toggle.collapsed {
                                                background-color: #36454f;
                                                border: none;
                                            }

                                            .navbar-default .navbar-toggle:focus,
                                            .navbar-default .navbar-toggle:hover {
                                                background-color: #c0c0c0;
                                                border: none;
                                            }

                                            .navbar-default .navbar-toggle .icon-bar {
                                                background-color: #fff;
                                            }

                                            /*/ start hamburger menu desktop overwrite bootstrap /*/

                                            .navbar-header {
                                                float: none;
                                            }

                                            .navbar-toggle {
                                                display: block;
                                            }

                                            .navbar-collapse.collapse {
                                                display: none !important;
                                            }

                                            .navbar-nav {
                                                float: none !important;
                                            }

                                            .navbar-nav>li {
                                                float: none;
                                            }

                                            .navbar-collapse.collapse.in {
                                                display: block !important;
                                            }

                                            /*/ end hamburger menu desktop overwrite bootstrap /*/
                                            /*/ start intro /*/

                                            .intro {
                                                display: table;
                                                width: 100%;
                                                height: auto;
                                                text-align: center;
                                                color: white;
                                                background: url("https://assets.codepen.io/6554302/i-Mn4s9B4-X4.jpeg") no-repeat top center scroll;
                                                background-size: cover;
                                                -o-background-size: cover;
                                            }

                                            .intro .intro-body {
                                                display: table-cell;
                                                vertical-align: middle;
                                                padding: 15% 0;
                                                background: rgba(0, 0, 0, 0.5);
                                            }

                                            .brand-heading {
                                                font-size: 100px;
                                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                font-weight: 700;
                                                text-align: left;
                                                color: #c0c0c0;
                                            }

                                            .intro .intro-body .intro-text {
                                                font-size: 25px;
                                                font-family: headerFont, sans-serif;
                                                text-align: left;
                                            }

                                            span.city {
                                                background-color: #36454f;
                                                color: #fff;
                                                border-radius: 4px;
                                                width: 15px;
                                            }

                                            @media (min-width: 768px) {
                                                .intro {
                                                    height: 100%;
                                                    padding: 0;
                                                }

                                                .intro .intro-body .brand-heading {
                                                    font-size: 130px;
                                                }

                                                .intro .intro-body .intro-text {
                                                    font-size: 35px;
                                                }
                                            }

                                            .mouse-warp {
                                                margin: 40px auto;
                                                display: block;
                                                width: 28px;
                                                opacity: 0.5;
                                            }

                                            .mouse {
                                                width: 28px;
                                                height: 50px;
                                                border: 2px solid #fff;
                                                border-radius: 14px;
                                            }

                                            .scroll {
                                                width: 4px;
                                                height: 4px;
                                                border-radius: 2px;
                                                background: #fff;
                                                position: relative;
                                                left: 10px;
                                                -webkit-animation: scrolls 1.3s ease-out infinite;
                                            }

                                            @-webkit-keyframes scrolls {
                                                0% {
                                                    top: 8px;
                                                    opacity: 0;
                                                    -webkit-transform: scaleY(1) scaleX(1);
                                                }

                                                5% {
                                                    top: 8px;
                                                    opacity: 0.8;
                                                    -webkit-transform: scaleY(1.2) scaleX(1.2);
                                                }

                                                10% {
                                                    top: 8px;
                                                    opacity: 1;
                                                    -webkit-transform: scaleY(1.6) scaleX(1.6);
                                                }

                                                15% {
                                                    top: 8px;
                                                    opacity: 1;
                                                    -webkit-transform: scaleY(1.2) scaleX(1.2);
                                                }

                                                20% {
                                                    top: 8px;
                                                    opacity: 1;
                                                    -webkit-transform: scaleY(1.2) scaleX(1.2);
                                                }

                                                30% {
                                                    top: 15px;
                                                    opacity: 1;
                                                    -webkit-transform: scaleY(1.2) scaleX(1.2);
                                                }

                                                100% {
                                                    top: 30px;
                                                    opacity: 0;
                                                    -webkit-transform: scaleY(1.2) scaleX(0.8);
                                                }
                                            }

                                            /* End Scroll Down Indicator */
                                            /*/ end intro /*/
                                            /*/ start 'about' /*/

                                            #about-me {
                                                margin-top: 20px;
                                            }

                                            #about-me h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            .about-intro-text p {
                                                float: right;
                                                margin: auto;
                                                width: 50%;
                                            }

                                            #about-row {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                            }

                                            .about-intro-text span {
                                                color: #c0c0c0;
                                                font-weight: 700;
                                            }

                                            .about-intro-text {
                                                color: #c0c0c0;
                                                font-size: 20px;
                                            }

                                            .button-group {
                                                cursor: pointer;
                                                display: -webkit-inline-box;
                                                display: -ms-inline-flexbox;
                                                display: inline-flex;
                                            }

                                            .charcoal {
                                                color: #36454f;
                                            }

                                            .silver {
                                                color: #c0c0c0;
                                            }

                                            .text {
                                                background: #36454fcf;
                                                color: #fff;
                                                font-size: 18px;
                                                height: 50px;
                                                padding: 0 25px;
                                                line-height: 50px;
                                            }

                                            .icon-cv {
                                                font-size: 30px;
                                                width: 50px;
                                                height: 50px;
                                                line-height: 40px;
                                                box-sizing: border-box;
                                                border: 4px solid #36454f;
                                                border-left: none;
                                                -webkit-transition: 600ms -webkit-transform ease-in-out;
                                                transition: 600ms -webkit-transform ease-in-out;
                                                transition: 600ms transform ease-in-out;
                                                transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
                                                -webkit-transform: Y(90deg);
                                                transform: rotateY(90deg);
                                                -webkit-transform-origin: left;
                                                transform-origin: left;
                                                color: #36454f;
                                                background: #fff;
                                                text-align: center;
                                            }

                                            a .fa-arrow-circle-down {
                                                color: #36454f;
                                            }

                                            #tagline span:hover {
                                                -webkit-transform: scaleY(0deg);
                                                transform: rotateY(0deg);
                                            }

                                            .button-group:hover .icon-cv {
                                                -webkit-transform: rotateY(0deg);
                                                transform: rotateY(0deg);
                                            }

                                            .button-group {
                                                -webkit-perspective: 200px;
                                                perspective: 200px;
                                                -webkit-perspective-origin: calc(100% - 50px);
                                                perspective-origin: calc(100% - 50px);
                                                margin-top: 5%;
                                            }

                                            .about-inner {
                                                position: relative;
                                                padding: 0;
                                                overflow: hidden;
                                            }

                                            img.headshot {
                                                width: 50%;
                                                height: auto;
                                            }

                                            .about-inner>img {
                                                display: block;
                                                min-width: 100%;
                                                height: auto;
                                            }

                                            .about-ct .textbox-about {
                                                width: 100%;
                                                height: 100%;
                                                /* 	position: absolute; */
                                                top: 0;
                                                left: 0;
                                                -webkit-transform: scale(0);
                                                transform: scale(0);
                                            }

                                            #portfolio {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                text-align: center;
                                            }

                                            .about-ct:hover .textbox-about {
                                                -webkit-transform: scale(1);
                                                transform: scale(1);
                                            }

                                            #about-terry {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                            }

                                            .textbox-about {
                                                -webkit-transition: all 0.7s ease;
                                                transition: all 0.7s ease;
                                            }

                                            div.button-social {
                                                border: 2px solid #fff;
                                                padding: 12px 18px;
                                                -webkit-transition: all 0.35s;
                                                transition: all 0.35s;
                                                border-radius: 0;
                                                -webkit-border-radius: 0;
                                                -moz-border-radius: 0;
                                                margin-top: 25px;
                                                font-size: 18px;
                                                color: #fff;
                                                margin: 5% 5%;
                                            }

                                            div.button-social a {
                                                color: #fff;
                                                font-size: 18px;
                                                margin: 15px;
                                            }

                                            div.button-social a:hover {
                                                color: #c0c0c0;
                                            }

                                            .button-group:focus,
                                            .icon-cv:focus,
                                            .text:focus {
                                                outline: 0;
                                            }

                                            .sign-off {
                                                text-align: center;
                                            }

                                            /*/ end about /*/
                                            /*/ start about education & experience /*/

                                            #experience {
                                                margin-top: 20px;
                                            }

                                            #education {
                                                margin-top: 20px;
                                            }

                                            #experience h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            #education h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            #education h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            .timeline-label h4 {
                                                margin-top: 0;
                                                font-size: 30px;
                                                color: #c0c0c0;
                                                padding: 16px 0px;
                                                font-weight: 700;
                                            }

                                            .timeline-label p {
                                                color: #696969;
                                                padding: 8px 0px;
                                                line-height: 27px;
                                            }

                                            .button-group-li {
                                                cursor: pointer;
                                                display: -webkit-inline-box;
                                                display: -ms-inline-flexbox;
                                                display: inline-flex;
                                            }

                                            .timeline-label a {
                                                text-decoration: none;
                                            }

                                            .text-timeline {
                                                background: #c0c0c0;
                                                color: #fff;
                                                font-size: 18px;
                                                height: 40px;
                                                padding: 0 25px;
                                                line-height: 40px;
                                            }

                                            .icon-li {
                                                font-size: 20px;
                                                width: 40px;
                                                height: 40px;
                                                line-height: 30px;
                                                box-sizing: border-box;
                                                border: 4px solid #c0c0c0;
                                                border-left: none;
                                                -webkit-transition: 600ms -webkit-transform ease-in-out;
                                                transition: 600ms -webkit-transform ease-in-out;
                                                transition: 600ms transform ease-in-out;
                                                transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
                                                -webkit-transform: rotateY(90deg);
                                                transform: rotateY(90deg);
                                                -webkit-transform-origin: left;
                                                transform-origin: left;
                                                color: #c0c0c0;
                                                background: #fff;
                                                text-align: center;
                                            }

                                            .button-group-li:hover .icon-li {
                                                -webkit-transform: rotateY(0deg);
                                                transform: rotateY(0deg);
                                            }

                                            .button-group-li {
                                                -webkit-perspective: 200px;
                                                perspective: 200px;
                                                -webkit-perspective-origin: calc(100% - 40px);
                                                perspective-origin: calc(100% - 40px);
                                            }

                                            .timeline-label {
                                                padding-left: 7%;
                                                margin-top: 2%;
                                            }

                                            .col-exp {
                                                margin-top: 2%;
                                            }

                                            .timeline .timeline-experience {
                                                position: relative;
                                                float: left;
                                                margin-left: 32px;
                                                padding-left: 64px;
                                                border-left: 2px solid #ccc;
                                            }

                                            .timeline-experience-info {
                                                height: 144px;
                                                width: 346
                                            }

                                            .timeline .timeline-experience-info h5 {
                                                margin-top: 0;
                                                margin-bottom: 0.333em;
                                                font-size: 18px;
                                                color: #c0c0c0;
                                                font-weight: 700;
                                            }

                                            .timeline .timeline-experience-info .timeline-role {
                                                font-size: mediumq;
                                                color: #36454f;
                                                font-weight: 600;
                                                text-align: center;
                                                display: flex;

                                            }

                                            .timeline-role {
                                                letter-spacing: 2px;
                                            }

                                            .timeline time {
                                                display: block;
                                                width: 65px;
                                                color: #ccc;
                                                text-align: center;
                                                font-weight: 700;
                                            }

                                            .timeline .timeline-experience-img,
                                            .timeline .timeline-experience-info,
                                            .timeline .timeline-experience-info h5,
                                            .timeline .timeline-experience-info p {
                                                clear: none;
                                            }

                                            .timeline .timeline-experience .timeline-circle {
                                                position: absolute;
                                                top: 16px;
                                                left: -13px;
                                                display: block;
                                                width: 19px;
                                                height: 19px;
                                                border: 3px solid #ccc;
                                                border-radius: 50%;
                                                background-color: #f5f5f5;
                                            }

                                            .timeline .timeline-experience-img {
                                                float: left;
                                                width: 64px;
                                                height: 64px;
                                            }

                                            .timeline .timeline-experience-img img {
                                                width: 100%;
                                            }

                                            .timeline .timeline-experience-info {
                                                margin-left: 87px;
                                            }

                                            .timeline-experience-info p {
                                                margin-top: 10px;
                                                margin-bottom: 20px;
                                            }

                                            /*/ end about work experience /*/
                                            /*/ end about /*/
                                            /*/ start work portfolio /*/

                                            #portfolio {
                                                margin-top: 20px;
                                            }

                                            .portfolio-ct h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            .thumbnail {
                                                max-width: 500px;
                                                border: none;
                                                position: relative;
                                                background: none;
                                                padding: 0;
                                            }

                                            .portfolio-details h3 {
                                                font-weight: 700;
                                                font-size: 25px;
                                                font-family: headerFont, sans-serif;
                                            }

                                            .portfolio-details p {
                                                font-size: 14px;
                                            }

                                            ul.portfolio-tags {
                                                padding: 10px 0 10px 0;
                                                text-align: center;
                                            }

                                            li.portfolio-tag {
                                                list-style-type: none;
                                                font-size: 9px;
                                                font-family: "Montserrat", sans-serif;
                                                font-weight: 700;
                                                color: #c0c0c0;
                                                display: inline;
                                                border: 2px solid #c0c0c0;
                                                padding: 8px;
                                            }

                                            span.portfolio-link {
                                                font-size: 30px;
                                                border: 2px solid #fff;
                                                border-radius: 50px;
                                                padding: 20px;
                                                color: #fff;
                                                margin: 20% auto;
                                            }

                                            .portfolio-item-ct .textbox-portfolio {
                                                width: 100%;
                                                height: 100%;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                -webkit-transform: scale(0);
                                                transform: scale(0);
                                                background: #c0c0c0;
                                                opacity: 0.9;
                                            }

                                            .portfolio-item-ct:hover .textbox-portfolio {
                                                -webkit-transform: scale(1);
                                                transform: scale(1);
                                            }

                                            .textbox-portfolio {
                                                -webkit-transition: all 0.7s ease;
                                                transition: all 0.7s ease;
                                            }

                                            div.button-weblink {
                                                -webkit-transition: all 0.35s;
                                                transition: all 0.35s;
                                                border-radius: 0;
                                                -webkit-border-radius: 0;
                                                -moz-border-radius: 0;
                                                color: #fff;
                                                text-align: center;
                                            }

                                            .portfolio-tag:focus,
                                            .portfolio-tags:focus {
                                                outline: 0;
                                            }

                                            /*/ end work portfolio /*/
                                            /*/ start services /*/

                                            #services {
                                                margin-top: 20px;
                                                width: 100%;
                                                height: auto;
                                                text-align: center;
                                                margin-bottom: 45px;
                                            }

                                            #services h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            .ct-services {
                                                margin-top: 20px;
                                            }

                                            #services h3 {
                                                color: #c0c0c0;
                                                font-size: 22px;
                                                font-weight: bold;
                                                text-transform: lowercase;
                                            }

                                            #services .fa {
                                                font-size: 60px;
                                                color: #36454f;
                                            }

                                            #services .rotate:hover {
                                                -webkit-transform: rotate(360deg);
                                                -moz-transform: rotate(360deg);
                                                -o-transform: rotate(360deg);
                                            }

                                            #services .rotate {
                                                -webkit-transition-duration: 0.8s;
                                                transition-duration: 0.8s;
                                                -webkit-transition-property: -webkit-transform;
                                                transition-property: -webkit-transform;
                                                transition-property: transform;
                                                transition-property: transform, -webkit-transform;
                                                overflow: hidden;
                                            }

                                            /*/ end services /*/
                                            /*/ start testimionals /*/

                                            #testimionals {
                                                margin-top: 20px;
                                                width: 100%;
                                                height: auto;
                                                text-align: center;
                                            }

                                            #testimionals h2 {
                                                font-weight: 700;
                                                color: #fff;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            .testimionals-bg {
                                                width: 100%;
                                                height: auto;
                                                background: url(http://marinamarques.pt/img/mm_testimionals.jpg) no-repeat top center scroll;
                                                background-size: cover;
                                                -o-background-size: cover;
                                            }

                                            .testimionals-bg-opacity {
                                                width: 100%;
                                                height: auto;
                                                background: rgba(0, 0, 0, 0.5);
                                            }

                                            .quotes {
                                                color: #fff;
                                                font-size: 60px;
                                            }

                                            .client {
                                                font-size: 16px;
                                                font-style: italic;
                                            }

                                            .carousel-caption {
                                                position: static;
                                                /*/ this is to replace the images of bootstrap slider /*/
                                                font-size: 18px;
                                                color: #fff;
                                                min-height: 200px;
                                            }

                                            .carousel-control.left,
                                            .carousel-control.right {
                                                background: none;
                                            }

                                            /*/ end testimionals /*/
                                            /*/ start contact /*/

                                            footer {
                                                text-align: center;
                                                font-size: 18px;
                                                margin-top: 20px;
                                            }

                                            #contact h2 {
                                                font-weight: 700;
                                                margin-top: 22px;
                                                padding-bottom: 10px;
                                                text-align: center;
                                            }

                                            footer p {
                                                margin-top: 50px;
                                            }

                                            .social,
                                            footer a {
                                                font-size: 30px;
                                                color: #24242a;
                                                margin: 10px;
                                            }

                                            footer a:hover,
                                            footer a:after,
                                            footer a:visited footer a:focus {
                                                color: #c0c0c0;
                                            }

                                            #copyright {
                                                margin-top: 35px;
                                                font-size: 14px;
                                            }

                                            /*/ end contact /*/
                                            /*/ media queries /*/

                                            @media only screen and (max-width: 480px) {
                                                .brand-heading {
                                                    font-size: 85px;
                                                    margin-top: 10%;
                                                }

                                                .col-exp {
                                                    margin-top: 15%;
                                                }

                                                .timeline .timeline-experience {
                                                    margin-left: 20px;
                                                    padding-left: 20px;
                                                }

                                                .timeline time {
                                                    width: 40px;
                                                }

                                                .services-item {
                                                    margin-bottom: 15%;
                                                }
                                            }

                                            #startup {
                                                height: 5%;
                                                width: auto;
                                            }

                                            ul.lang-icons {
                                                list-style-type: none;
                                                margin: 0;
                                                padding: 0;
                                                overflow: hidden;
                                                background-color: #333333;
                                            }

                                            li {
                                                float: left;
                                            }